body {
	margin: 0; 
	padding: 0; 
	background-color: lightcyan; 

}

#app-container {
	width: 375px; 
	height: 667px;
	margin: auto; 
	padding: 0; 
	background-color: #fff; 
	border: solid 1px gray;
	border-radius: 40px;
	display:flex;
	flex-direction: column;
}

.app-box {
	text-align: center;
  font-family: 'Hind', sans-serif;
	border: none;
	padding: 0; 
}

.double-row {	
/* height: 16.66%;  */
flex-grow: 2; 
}

.single-row {	
/* 		height: 8.33%; */
flex-grow: 1; 
 
 }

#icon-box > img {
  width: 250px; 
	height: 200px; 
	border: solid 0.5px gray; 
	border-radius: 7%;  
  float: clear;
 
}

#title-box>h1 {
	font-weight: 70; 
}

#app-inputs-top, #app-inputs-bottom  {
	border: solid 0.75px gray; 
	width: 80%; 
	margin: auto; 
  padding: 9px; 
}

#app-inputs-top {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;}
#app-inputs-bottom {
	border-top: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

label {
  width: 25%; 
/*   display: inline-block;  */
  float: left; 
  text-align: left; 
  font-weight: 70; \
  padding-right: 0;
/*   font-size: 0.6em;  */
}

input[type=text],
input[type=password] {
    caret-color: #4CAF50;
		border: 0; 
    padding-left: 0; 
    font-color: lightgray; 
/* 		padding: 7px;  */
}

button { 
    background-color: #ffffff;
    color: #4c4c4c;
    border: none;
    cursor: pointer; 
    font size: 16px;
    float: center;
    line-height: 25px;
    margin-left: 15px;

}

.activeButton {
   background-color: #4CAF50; /* Green */ 
}
.Recover a{
  padding: 14px 0 16px 0;
  text-decoration: none;
  font-size: 15px;
  color: green;
}
.Links a {
  padding: 14px 0 16px 0;
  text-decoration: none;
  font-size: 15px;
  color: green;
  
}
